
body{
    margin:0;
}

h1{
    font-size:50px;
}
.name{
    color:orange;
}
.flexible-container{
    display:flex;
    margin-bottom: 150px;
}
.haf-width{
    width:50%;
    padding:5%;
}
.haf-width img{
    width:80%;

}
.link-bottom{
    text-decoration: none;
    background-image:linear-gradient(orange,rgb(253, 156, 156));
    padding:10px 40px;
    border-radius: 5px;
    color:wheat;
    font-weight: 700;

}
.top-banner{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
}

h2{font-size: 40px;}

.drembing{
    background-image:url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experianceitem{

   box-shadow: 10px 10px 40px gray; 
   width:40%;
   margin-left:5%;
   margin-right: 5%;
   padding: 15px;
   border-radius: 10px;
   
}
.experiance{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-expariance{

    border-left: 7px solid;
    border-image:linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#web-expariance2{

    
    border-left: 7px solid;
    border-image:linear-gradient(rgb(138, 138, 185),rgb(207, 116, 12));
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-weight: 700;
}